.about {
    position: relative;
    padding: $myPadding;
    // background-color: pink;
    background-image: url("../images/tab-image.jpg");
    background-size: cover;
    background-position: center center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, #6696E2 0%, $myColorFour 100%);
        opacity: 0.42;
    }

    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tab-navigation {
        ul {
            list-style: none;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 100px;
                background-color: #A37169;
                box-shadow: 0px 3px 6px #00000029;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                &.active {
                    background-color: $myColorFour;
                }

                span {
                    position: absolute;
                    transform: rotate(-45deg);
                    font-size: 14px;
                    color: $myColorOne;
                    text-transform: uppercase;
                    font-weight: bolder;
                 }
            }
        }
    }

    .tab-content {
        display: none;
        animation: tab-reveal 0.5s forwards;
        color: $myColorOne;
        width: 100%;
        

        

        .title {
            font-size: 36px;
            width: 510px;
            font-weight: bolder;
            line-height: 93%;
            padding-bottom: 21px;
                
        }

        .content {
            width: 510px;
            padding-bottom: 43px;
            font-size: 14px;
        }
        

        &.active {
            display: flex;
            justify-content: space-around;
            align-items: center;
            
        }

        .image-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 365px;
            height: 365px;
            // border: 2px solid blue;

            .small-images {
                display: flex;
                justify-content: space-between;
                height: 168px;
                width: 100%;
                // border: 2px solid red;

                div {
                    height: 100%;
                    width: 168px;
                    // border: 2px solid green;
                    // background-image: url("../images/greens.jpg");
                    // background-size: cover;
                    
                    

                    img {
                        
                        height: 168px;
                        width: 168px;
                        object-fit: cover;
                        
                    }
                    
                    
                }
            }

            .big-image {
                height: 170px;
                width: 100%;
                // border: 2px solid yellow;

                img {
                    height: 178px;
                    width: 100%;
                    object-fit: cover;
                }
            }

        }
    }
}


// .tab-grid {
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     padding: 200px 0;
//     background-image: url("../images/tab-image.jpg");
//     background-size: cover;
//     background-position: center center;

//     &:before {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-color: #1C1C1C;
//         opacity: 0.63;
//     }

//     .container {
//         position: relative;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
        
//         // align-items:flex-end;

//         .tab-box {
//             display: flex;
//             flex-direction: column;
            
           
            

//          div {
//             height: 100px;
//             width: 100px;
//             background-color: #E27866;
//             color: white;
//             margin-bottom: 20px;
//             font-weight: bolder;
//             display: flex;
//             align-items: center;
//             justify-content: center;

        

//             span {
//                 position: absolute;
//                 transform: rotate(-45deg);
//                 font-size: 14px;
//             }

            
//          }
            
            
//         }

//         .description-box {
//             color: white;
    
                
//             .title {
//                 font-size: 36px;
//                 width: 510px;
//                 line-height: 93%;
//                 padding-bottom: 21px;
    
//             }
    
//             .content {
//                 width: 510px;
//                 padding-bottom: 43px;
//                 font-size: 14px;
//             }
        
//         }

//         .image-box {
//             display: flex;
//             width: 360px;
//             border: 2px solid red;

//         }
//     }
// }